<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <connectionStrings>
    <add name="MyDaniel.Properties.Settings.MyDanielConnectionString"
         connectionString="Data Source=localhost\SQLEXPRESS;Initial Catalog=My_Daniel;Integrated Security=True;TrustServerCertificate=True"
         providerName="System.Data.SqlClient" />
  </connectionStrings>
</configuration>
